[bug]: JMAP fails to honor "Mailbox/get" with ids=null

### What happened?

There are various places in [the JMAP spec](https://jmap.io/spec-mail.html) where `null` values should be allowed. Specific to my use case:

> 2.1 Mailbox/get
>This is a standard “/get” method as described in [@!RFC8620], Section 5.1. The ids argument may be null to fetch all at once.

From my Python log:

> DEBUG:jmapc:Sending JMAP request {"methodCalls": [["Mailbox/get", {"accountId": "b", "ids": [null]}, "single.Mailbox/get"]], "using": ["urn:ietf:params:jmap:core", "urn:ietf:params:jmap:mail"]}
> DEBUG:urllib3.connectionpool:https://mail.theribbles.org:443 "POST /jmap/ HTTP/1.1" 200 171
> DEBUG:jmapc:Received JMAP response {"methodResponses":[["error",{"type":"invalidArguments","description":"Invalid argument: expected 'string', got 'null'."},"single.Mailbox/get"]],"sessionState":"da6ec18c"}

This is an error - stalwart should return all the mailboxes rather than error.

### How can we reproduce the problem?

I can reproduce the problem by doing the following steps:

Request "Mailbox/get" with "ids" set to `null`

### Version

v0.5.x

### What database are you using?

RocksDB

### What blob storage are you using?

RocksDB

### Where is your directory located?

Internal

### What operating system are you using?

Linux

### Relevant log output

```shell
None
```


### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

See what RFC says
https://datatracker.ietf.org/doc/html/rfc8620#section-5.1
ids: "Id[]|null" and not mentioned [null]
 
The call should look like this {"methodCalls":[["Mailbox/get",{"accountId":"b","ids":null},"a5a02"]],"using":["urn:ietf:params:jmap:mail"]}

Good catch, this is a bug in my client library then. I'll see if I can make changes to it and get the correct behavior.

Interesting, I switched to:

> DEBUG:jmapc:Sending JMAP request {"methodCalls": [["Mailbox/get", {"accountId": "b", "ids": null}, "single.Mailbox/get"]], "using": ["urn:ietf:params:jmap:core", "urn:ietf:params:jmap:mail"]}

Now I get a read timeout after 30 seconds from nginx, my reverse proxy. This account has ~20 mailboxes I believe, easily enough to enumerate and return quickly.

Should be more than enough. All of my integration tests against Stalwart took less than a few seconds (some of them have artificial sleep(1s) to import test messages correctly).

Btw, this 'single.Mailbox/get' will become wrong,  if issued in the next call with the same id.
https://datatracker.ietf.org/doc/html/rfc8620#section-3.2
*method call id*

This should be unique per JMAP session.

> Btw, this 'single.Mailbox/get' will become wrong, if issued in the next call with the same id. https://datatracker.ietf.org/doc/html/rfc8620#section-3.2 _method call id_
> 
> This should be unique per JMAP session.

I don't think this is the case. There is only one "session" defined in the JMAP standard; [The JMAP Session Resource](https://datatracker.ietf.org/doc/html/rfc8620#section-2). There is no session identifier between HTTP POST requests. While I think it's reasonable that a client use different method call IDs within a single API request, the standard makes no statement on whether or not its required or whether it's considered an error to reuse IDs within a single request, let alone between requests. In fact the standard says explicitly 

> To resolve:
>
>   1.  Find the first response with a method call id ...

This implies that more than one response could have the same method call ID.

That said, I appreciate the heads up that this could be a source for error.

I've created a test script which bypasses nginx. Turns out that I do eventually get a response, it just takes a *really* long time. Metrics in case it's helpful for performance profiling:

>Total mailboxes: 84
> Total emails: 49304
> Total seconds to process: 34.755024433135986