[enhancement]: Support for more IMAP extensions

### Which feature or improvement would you like to request?

Such as:

- [RFC 8508 - IMAP REPLACE Extension](https://datatracker.ietf.org/doc/rfc8508/)
- [RFC 7889 - The IMAP APPENDLIMIT Extension](https://datatracker.ietf.org/doc/rfc7889/)
- [RFC 7377 - IMAP4 Multimailbox SEARCH Extension](https://datatracker.ietf.org/doc/rfc7377/) 
- [RFC 4468 - Message Submission BURL Extension](https://datatracker.ietf.org/doc/rfc4468/)
- [RFC 6203 - IMAP4 Extension for Fuzzy Search](https://datatracker.ietf.org/doc/rfc6203)
- [RFC 5423 - Internet Message Store Events](https://datatracker.ietf.org/doc/rfc5423/)
- [RFC 5436 - Sieve Notification Mechanism: mailto](https://datatracker.ietf.org/doc/rfc5436.html)
- [RFC 5465 - IMAP NOTIFY Extension](https://datatracker.ietf.org/doc/rfc5465)?
- [RFC 2087 - IMAP4 QUOTA extension](https://datatracker.ietf.org/doc/html/rfc2087)
- [RFC 6785 - Support for IMAP Events in Sieve](https://datatracker.ietf.org/doc/html/rfc6785)


### Is your feature request related to a problem?

I'm having a problem with...

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[RFC 5436 - Sieve Notification Mechanism: mailto](https://datatracker.ietf.org/doc/rfc5436/)
[RFC 5465 - IMAP NOTIFY Extension](https://datatracker.ietf.org/doc/rfc5465)
[RFC 6785 - Support for IMAP Events in Sieve](https://datatracker.ietf.org/doc/html/rfc6785)
[RFC 7889 - The IMAP APPENDLIMIT Extension](https://datatracker.ietf.org/doc/rfc7889/)


For starters maybe?
Most of these are RFCs that are supported by other mail servers like [Cyrus](https://www.cyrusimap.org/imap/rfc-support.html) for example.


it would be nice to have
[RFC 2087 - IMAP4 QUOTA extension](https://datatracker.ietf.org/doc/html/rfc2087)


RFC 9208 - IMAP QUOTA Extension is now [supported](https://github.com/stalwartlabs/mail-server/commit/84d3c821793ff4f29374365699c8bb0fb7992f33).

Any update on [RFC 2087 - IMAP4 QUOTA extension](https://datatracker.ietf.org/doc/html/rfc2087)?

ah sorry, I meant [RFC 5465 - IMAP NOTIFY Extension](https://datatracker.ietf.org/doc/rfc5465). Are there any news to this one?
(Copy-paste mistake 😅 )

Got it, thank you for the update :)