[bug]: spf1 a ra=postmaster -all

### What happened?

When adding a domain, the system generates these SPF records:
```
mail IN TXT "v=spf1 a ra=postmaster -all"
@ IN TXT "v=spf1 mx ra=postmaster -all"
```

Could you please confirm if the ra=postmaster part is correct, or if this is an error (ra=postmaster)?

### How can we reproduce the problem?

I can reproduce the problem by doing the following steps:

### Version

v0.10.x

### What database are you using?

None

### What blob storage are you using?

None

### Where is your directory located?

None

### What operating system are you using?

None

### Relevant log output

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

It was intended or not ? Some tools complains it is incorrect syntaxis

The tools are wrong:

https://datatracker.ietf.org/doc/html/rfc6652


Duplicate of #363

https://github.com/stalwartlabs/mail-server/issues?q=is%3Aissue+spf+ra

RFC 6652, introduced as an update to RFC 4408 in 2012, has gained little to no traction in the email ecosystem. I’ve yet to encounter any mail transfer agents (MTAs) that implement its modifiers or generate corresponding reports. In contrast, DMARC’s unified approach consolidates DKIM and SPF results into a single XML-based report, which has proven far more practical and widely adopted.

After scanning the SPF records of the world’s top 1 million domains, I found that only 15 contained the ra modifier—just 0.0015%. This likely explains why most SPF validators don’t check for its syntax. Additionally, the rp and rr modifiers from RFC 6652 were entirely absent from any SPF records. While technically permissible within an SPF policy, encountering reports due to these modifiers seems unlikely.

Based on this data, I suspect the only records using the ra=postmaster modifier are directly influenced by this GitHub repository. Unless compelling evidence emerges showing that such reports are both generated and useful beyond what DMARC aggregate reports already provide, I would recommend reconsidering the inclusion of RFC 6652 modifiers in proposed SPF policies.

> RFC 6652, introduced as an update to RFC 4408 in 2012, has gained little to no traction in the email ecosystem. I’ve yet to encounter any mail transfer agents (MTAs) that implement its modifiers or generate corresponding reports.

Stalwart does!

> Unless compelling evidence emerges showing that such reports are both generated and useful beyond what DMARC aggregate reports already provide,

There are reports are useful to Stalwart (well, only if the administrator of the email system finds them useful). DMARC reports are aggregated and sent every day or week, SPF reports are immediate. A possible use case of instant SPF failure report is triggering a webhook event that could help administrator detect spoofing in real time.

If your concern is the SPF/DMARC analysis tools that report the `ra=` as invalid, [RFC7208 section 6](https://datatracker.ietf.org/doc/html/rfc7208#section-6) says:

```
   Unrecognized modifiers MUST be ignored no matter where, or how often,
   they appear in a record.  This allows implementations conforming to
   this document to gracefully handle records with modifiers that are
   defined in other specifications.
```

So, rather than removing functionality from Stalwart, these tools should follow section 6 and ignore the modifiers they don't understand.



I completely agree that online validators should adhere to the RFC and ignore any unknown modifiers in the record. In my testing of 22 popular SPF validator tools, only one correctly validates RFC6652 modifier values. Fifteen tools return an "unknown" or "invalid" record, while six simply ignore the modifiers and validate the record as-is.

While the concept of instant reports is appealing, in practice, SPF failures often occur due to indirect email flows like forwarding. Even with a correctly configured SPF policy, this could lead to a significant volume of reports being routed to the postmaster mailbox, potentially overwhelming administrators.

To strike a balance, I suggest removing the ra tag from the examples and instead mentioning its support in a dedicated section. This way, those specifically interested in enabling this niche feature can do so while avoiding unnecessary confusion in general guidance.

> To strike a balance, I suggest removing the ra tag from the examples and instead mentioning its support in a dedicated section. 

An explanation in the docs is fine but the main issue is that these tags are added to the auto-generated DNS records. I am against removing them from the auto-generated DNS records just to make these buggy tools happy.

