🚀: Make length of DSN message/rfc822 configurable/extendable

### Which feature or improvement would you like to request?

I'd like to see this feature: Being able to configure the length of "the third component of the multipart/report" of DSNs produced by stalwart to increase likelihood of specific headers to be included.

### Is your feature request related to a problem?

I'm having a problem with parsing DSN bounce messages for automatic removal from mailinglists.

Specifically i am using listmonk to send newsletters. listmonk includes a feature to query a bounce mailbox via POP3 to automatically remove subscribers. For this it tries to parse the headers included in the third mime part 'message/rfc822' of the 'multipart/report' as specified in [RFC 3461 Section 6.2](https://datatracker.ietf.org/doc/html/rfc3461#section-6.2). 
The RFC specifies that "[t]he third component of the multipart/report consists of the original message or some portion thereof."
Stalwart appears to be returning the latter, which is in accordance with the RFC. 

Listmonk is specifically looking for the headers `To`, `Delivered-To` and `X-Listmonk-Subscriber` ([ref](https://github.com/knadh/listmonk/issues/1162#issuecomment-1414140608)). However due to the length of e. g. the rsa-DKIM-Signature these headers appear to be truncated.

### Code of Conduct

- [x] I agree to follow this project's Code of Conduct