IMAP LIST-STATUS (RFC 5819) returns items in wrong order

### What happened?

The server is expected to alternate `LIST` and `STATUS` lines in the response to a `LIST STATUS` command but Stalwart returns first all the `LIST` lines then all the `STATUS` lines. Example:
```
C: a2 LIST "" * RETURN (STATUS (MESSAGES RECENT UIDNEXT UIDVALIDITY UNSEEN))
S: * LIST () "/" "Archive"
S: * LIST () "/" "Drafts"
S: * LIST () "/" "INBOX"
S: * LIST () "/" "Junk"
S: * LIST () "/" "Sent Items"
S: * LIST () "/" "Trash"
S: * STATUS "Archive" (MESSAGES 0 RECENT 0 UNSEEN 0 UIDNEXT 1 UIDVALIDITY 1441372858)
S: * STATUS "Drafts" (MESSAGES 0 RECENT 0 UNSEEN 0 UIDNEXT 1 UIDVALIDITY 3257492382)
S: * STATUS "INBOX" (MESSAGES 80 RECENT 0 UNSEEN 80 UIDNEXT 82 UIDVALIDITY 3984206678)
S: * STATUS "Junk" (MESSAGES 60 RECENT 0 UNSEEN 60 UIDNEXT 63 UIDVALIDITY 1100329641)
S: * STATUS "Sent Items" (MESSAGES 0 RECENT 0 UNSEEN 0 UIDNEXT 1 UIDVALIDITY 3780857958)
S: * STATUS "Trash" (MESSAGES 0 RECENT 0 UNSEEN 0 UIDNEXT 4 UIDVALIDITY 2077957501)
S: a2 OK LIST completed

### How can we reproduce the problem?

This is visible only when analyzing the protocol, but I can provide a short Rust program that shows the problem if needed.

### Version

v0.11.x

### What database are you using?

PostgreSQL

### What blob storage are you using?

Filesystem

### Where is your directory located?

Internal

### What operating system are you using?

Linux

### Relevant log output

```shell
2025-01-24T18:50:50Z DEBUG IMAP connection started (imap.connection-start) listenerId = "imaptls", localPort = 993, remoteIp = 2.238.117.225, remotePort = 55818
2025-01-24T18:50:50Z INFO Authentication successful (auth.success) listenerId = "imaptls", localPort = 993, remoteIp = 2.238.117.225, remotePort = 55818, accountName = "fog@dndg.it", accountId = 94
2025-01-24T18:50:50Z DEBUG IMAP LIST command (imap.list) listenerId = "imaptls", localPort = 993, remoteIp = 2.238.117.225, remotePort = 55818, details = ["Archive", "Drafts", "INBOX", "Junk", "Sent Items", "Trash", "Shared Folders", "Shared Folders/dndg", "Shared Folders/dndg/Archive", "Shared Folders/dndg/Drafts", "Shared Folders/dndg/Inbox", "Shared Folders/dndg/Junk", "Shared Folders/dndg/Sent", "Shared Folders/dndg/Trash"], elapsed = 16ms
2025-01-24T18:50:50Z DEBUG IMAP connection ended (imap.connection-end) listenerId = "imaptls", localPort = 993, remoteIp = 2.238.117.225, remotePort = 55818, elapsed = 181ms
```

### Code of Conduct

- [x] I agree to follow this project's Code of Conduct

[RFC9051 section 6.3.9](https://www.rfc-editor.org/rfc/rfc9051.html#section-6.3.9) states:

```txt
   The order in which options are specified by the client is not significant.
```

I am not talking about the order in which the *client* specify the options. I am talking about the order of the lines sent back by the server. The RFC clearly states:

> For each selectable mailbox matching the list pattern and selection options, the server MUST return an untagged LIST response followed by an untagged STATUS response containing the information requested in the STATUS return option.

And the example shows that each `LIST` response is immediately followed by a `STATUS` response:
```
C: A01 LIST "" % RETURN (STATUS (MESSAGES UNSEEN))
S: * LIST () "."  "INBOX"
S: * STATUS "INBOX" (MESSAGES 17 UNSEEN 16)
S: * LIST () "." "foo"
S: * STATUS "foo" (MESSAGES 30 UNSEEN 29)
S: * LIST (\NoSelect) "." "bar"
S: A01 OK List completed.
```
while Stalwart first returns all untagged `LIST` lines, then all `STATUS` lines (see top of this bug). 

Can you please reopen this bug until it is fixed?