[bug]: spf invalid record syntax

### What happened?

The webmail domain dns overview recommends an invalid spf record
`v=spf1 mx ra=postmaster -all` the ra=postmaster config option is invalid syntax.
https://mxtoolbox.com/dmarc/spf/spf-record-tags

Additionally it is not required to ad multiple spf records, meaning that 
`v=spf1 mx -all` and `v=spf1 a -all` can be aggregated to `v=spf1 mx a -all` 

### How can we reproduce the problem?

Add domain and open the https://example.org/manage/directory/domains/exmaple.org/view.

### Version

v0.7.x

### What database are you using?

PostgreSQL

### What blob storage are you using?

PostgreSQL

### Where is your directory located?

Internal

### What operating system are you using?

Linux

### Relevant log output

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

Duplicate of #447

@mdecimus can you add some log lines in the record generator so users can read documentation about why it is not invalid? 

RFC6652 Section 3 https://datatracker.ietf.org/doc/html/rfc6652#section-3
```
ra=  Reporting Address (plain-text; OPTIONAL; no default).  MUST be a
        local-part (see Section 3.4.1 of [[MAIL](https://datatracker.ietf.org/doc/html/rfc6652#ref-MAIL)]) specifying an e-mail
        address to which a report SHOULD be sent when mail claiming to
        be from this domain (see Section 2.4 of [[SPF](https://datatracker.ietf.org/doc/html/rfc6652#ref-SPF)] for a description
        of how domains are identified for SPF checks) has failed the
        evaluation algorithm described in [[SPF](https://datatracker.ietf.org/doc/html/rfc6652#ref-SPF)], in particular because a
        message arrived via an unauthorized route.
```
Someone should inform mxtoolbox staff to update their tooling to not show a syntax error.

> can you add some log lines in the record generator so users can read documentation about why it is not invalid?

Makes more sense that MXtoolbox fixes their parser.