[enhancement]: autoconfig, autodiscover, mta-sts

### What happened?

DANE TLSA is not only for port 25. It is even for webpages or any service on TLS who can benefit from DANE TLS security.
Ex.: https://wiki.mozilla.org/Security/DNSSEC-TLS-details

The DNS configuration page in webadmin shows:

TLSA	_25._tcp.autodiscover.domain.com.	X Y Z <long long key>

It shoud be alligned to the listener and MX record entry 

So it should be:

TLSA	_443._tcp.autodiscover.domain.com.	X Y Z <long long key> 
TLSA	_443._tcp.autoconfig.domain.com.	X Y Z <long long key> 
TLSA	_443._tcp.mta-sts.domain.com.	X Y Z <long long key>

And

TLSA	_993._tcp.mail.domain.com.	X Y Z <long long key>
TLSA	_465._tcp.mail.domain.com.	X Y Z <long long key>
TLSA	_587._tcp.mail.domain.com.	X Y Z <long long key>

If there would be a possibility to define on the listener even the hostname (https defaults to autodiscover, autoconfig, mta-sts, the admin page is default the hostname but shold be editable. imap, submission and submissions like defaults to imap, imaps, smtp), than for the default ACME Provider (letsencrypt) the Subject names are the listener names. In the TLS certificate section could be a dropdown to specify the certificate for the specific listener name.  

Best Regards,
Marco 


### How can we reproduce the problem?

I can reproduce the problem by doing the following steps:

### Version

v0.7.x

### What database are you using?

None

### What blob storage are you using?

None

### Where is your directory located?

None

### What operating system are you using?

None

### Relevant log output

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

This is still ongoing and I think this is a bug, rather than an enhancement.

In the existing structure, MTA-STS, Autoconfig and Autodiscover only works for the main domain.
All other domains fail MTA-STS checks and mail software fails finding autoconfig and autodiscover records properly.

SMTP MTA-STS relies on certificate validation via PKIX-based TLS identity checking [RFC8461](https://www.rfc-editor.org/rfc/rfc8461.html#section-10.1) and that certificate must belong to the policy domain, not provider domain [RFC8461 Section 8.2](https://www.rfc-editor.org/rfc/rfc8461.html#section-8.2). 
Currently, mta-sts fails due to invalid certificate errors as certificate subject name does not match target host name

In a similar manner, autoconfig and autodiscover also fails to work on mail clients due to SSL certificate mismatch errors.

Stalwart needs to issue SSL certificates for all of these domains, and serve web requests under their respective FQDNs.



> Currently, mta-sts fails due to invalid certificate errors as certificate subject name does not match target host name

This is holding back the rollout of MTA-STS for me as deploying a separate reverse proxy adds too much complexity.

A possible "light weight" implementation could be to request 1 cert per domain that includes
- autoconfig.$DOMAIN
- autodiscover.$DOMAIN
- mta-sts.$DOMAIN
in the Subject-Alternative-Names field.

While a wildcard certificate would technically be possible too, they are typically discouraged as in case of a compromised server the certificate can be easily re-used to impersonate services within the same domain.

Wondering if this issue is being looked at? I agree, it’s not an enhancement. Currently Internet.NL tests for DANE and MTA do not work on any of my Stalwart hosted domains. The implementation of these two technologies appears to be broken out of box. 

I’ve verified DNS records many times, but it refuses to check the server for some reason stating a misconfig. I unblocked all IPs and temporarily lessened security filtering for the test. No dice. 

> Wondering if this issue is being looked at? 

Not currently, it will be addressed at some point this year. The current priority is finishing the DAV servers and the database schema.

> I don't understand how this could be seen as anything besides a high severity bug, especially for customers like me who are paying for multi-tenant licensing for multiple domains.

It's not a bug because you can have MTA-STS, Autoconfig and everything else running for multiple domains under a single instance. Let's say you host email for `foo.net` and `bar.org`, you need to do the following:

- Create an ACME provider entry containing `mail.foo.net`, `mta-sts.foo.net`, `autoconfig.foo.net` and another ACME provider for `mail.bar.org`, `mta-sts.bar.org`, `autoconfig.bar.org`. You may also add all these domains under a single ACME provider.
- Reload the Stalwart configuration.
- Done, you now have MTA-STS and Autoconfig enabled for all your domains. Stalwart automatically uses the right certificate based on the TLS name provided.

The issue you might have is that when hosting hundreds of domains you will likely get rate limited by Let's Encrypt. One solution is using wildcard certificates for each domain but still if you have too many you will get rate limited. You might want to switch to the paid tier of ZeroSSL to avoid rate limiters.

The enhancement request is to simplify the deployment process and certificate issuance for multiple domains. Also to limit which domains are included in the mta-sts file. But as mentioned, you can still enable MTA-STS and Autoconfig for multiple domains under Stalwart by following the steps described above.



Thanks for the info. I’ve already done exactly as you say, with multiple Acme providers, and adding those records and verifying them. 

On Internet.NL tests (what I consider something of an industry standard), no domain except my main one, will even attempt to verify for MTA and DANE, citing unknown server issues.  They’re just grayed out. 

I’ve tried using records starting like mail.clientdomain.com, and then also mail.maindomain.com as my public facing records - and still refuses to test. 

I can also confirm the issue when using the comprehensive email-security-scans.org test. 

![Image](https://github.com/user-attachments/assets/c34a9c4f-94e0-4cf5-83a6-be5f57ea4749)

Have you added the required MTA-STS records to your DNS server? What do you see when you run:

```openssl s_client -connect mta-sts.yourdomain.org:443 -showcerts```

And regarding DANE, you need a DNS server with DNSSEC support and configured with the required TLSA records for your domain.

I am seeing the following for the above mentioned openssl command:

"
CONNECTED(00000003)
40C735B1907F0000:error:0A000458:SSL routines:ssl3_read_bytes:tlsv1 unrecognized name:../ssl/record/rec_layer_s3.c:1599:SSL alert number 112
---
no peer certificate available
---
No client certificate CA names sent
---
SSL handshake has read 7 bytes and written 325 bytes
Verification: OK
---
New, (NONE), Cipher is (NONE)
Secure Renegotiation IS NOT supported
Compression: NONE
Expansion: NONE
No ALPN negotiated
Early data was not sent
Verify return code: 0 (ok)
---
" 

Do I need to create the subdomain (mta.sts.domain.org) and upload the mta-sts policy manually? i found this example for an mta-sts.txt on google docs:

----
version: STSv1
mode: testing
mx: mail.example.org
mx: *.exampe.org
max_age: 604800
----

Furthermore I followed the steps at stalw.art to install an stalwart mailserver with docker behind a reverse proxy (nginx proxy manager). Since the manual implied to use the SSL/TLS offered by the reverse proxy instead of stalwarts ACME certificats I didn't created an ACME Provider. After adding my domain in the webadmin UI it didn't give me any mta-sts or TLSA entrys in the DNS records. Is there a possible limitation with reverse proxy for mta-sts or did I miss anything?

> Furthermore I followed the steps at stalw.art to install an stalwart mailserver with docker behind a reverse proxy (nginx proxy manager). Since the manual implied to use the SSL/TLS offered by the reverse proxy instead of stalwarts ACME certificats I didn't created an ACME Provider. After adding my domain in the webadmin UI it didn't give me any mta-sts or TLSA entrys in the DNS records. Is there a possible limitation with reverse proxy for mta-sts or did I miss anything?

You need to either:

- Create an ACME provider that includes `mta-sts.yourdomain.org` as well as other hostnames you're using.
or
- Use an external tool to generate a TLS certificate that includes `mta-sts.yourdomain.org`. Then upload the certificate to Stalwart.


This feature has been implemented in the [`v0.16` development branch](https://github.com/stalwartlabs/stalwart/tree/royal-registry-v0.16). A link to the specific commit cannot be provided, as this change was implemented as part of a larger code refactor.

Please note that version `v0.16` introduces multiple breaking changes in how the system is managed. Please review the details in the following [discussion](https://github.com/stalwartlabs/stalwart/discussions/2892).

Although `v0.16` is almost complete, we still need to rewrite both the webadmin and CLI, so the official release is expected in the coming weeks. You may subscribe to repository releases to be notified when `v0.16` is officially published.

This is an example of the DNS records that v0.16 will automatically manage for each domain:

```
example.org. IN CAA 0 iodef "mailto:postmaster@example.org"
example.org. IN CAA 0 issue "pebble.letsencrypt.org;accounturi=https://localhost:14000/my-account/23345880fb683843"
autoconfig.example.org. IN CNAME mail.example.org.
autodiscover.example.org. IN CNAME mail.example.org.
mta-sts.example.org. IN CNAME mail.example.org.
ua-auto-config.example.org. IN CNAME mail.example.org.
example.org. IN MX 10 mx1.example.org.
example.org. IN MX 20 mx2.example.org.
_caldavs._tcp.example.org. IN SRV 0 1 443 mail.example.org.
_carddavs._tcp.example.org. IN SRV 0 1 443 mail.example.org.
_imaps._tcp.example.org. IN SRV 0 1 993 imap.example.org.
_jmap._tcp.example.org. IN SRV 0 1 443 mail.example.org.
_pop3s._tcp.example.org. IN SRV 0 1 995 pop3.example.org.
_submissions._tcp.example.org. IN SRV 0 1 465 smtp.example.org.
_25._tcp.mx1.example.org. IN TLSA 3 1 1 556f58a52bbe4a20721fb29217488fcbe8121abf7a0eb3154b237755405baf9f
_25._tcp.mx1.example.org. IN TLSA 2 1 1 d0dd31da41e71428987c5688d6ab5523d0ce28c4f4358f0632d1be8552235a70
_25._tcp.mx2.example.org. IN TLSA 3 1 1 556f58a52bbe4a20721fb29217488fcbe8121abf7a0eb3154b237755405baf9f
_25._tcp.mx2.example.org. IN TLSA 2 1 1 d0dd31da41e71428987c5688d6ab5523d0ce28c4f4358f0632d1be8552235a70
_443._tcp.autoconfig.example.org. IN TLSA 3 1 1 556f58a52bbe4a20721fb29217488fcbe8121abf7a0eb3154b237755405baf9f
_443._tcp.autoconfig.example.org. IN TLSA 2 1 1 d0dd31da41e71428987c5688d6ab5523d0ce28c4f4358f0632d1be8552235a70
_443._tcp.autodiscover.example.org. IN TLSA 3 1 1 556f58a52bbe4a20721fb29217488fcbe8121abf7a0eb3154b237755405baf9f
_443._tcp.autodiscover.example.org. IN TLSA 2 1 1 d0dd31da41e71428987c5688d6ab5523d0ce28c4f4358f0632d1be8552235a70
_443._tcp.mail.example.org. IN TLSA 3 1 1 556f58a52bbe4a20721fb29217488fcbe8121abf7a0eb3154b237755405baf9f
_443._tcp.mail.example.org. IN TLSA 2 1 1 d0dd31da41e71428987c5688d6ab5523d0ce28c4f4358f0632d1be8552235a70
_443._tcp.mta-sts.example.org. IN TLSA 3 1 1 556f58a52bbe4a20721fb29217488fcbe8121abf7a0eb3154b237755405baf9f
_443._tcp.mta-sts.example.org. IN TLSA 2 1 1 d0dd31da41e71428987c5688d6ab5523d0ce28c4f4358f0632d1be8552235a70
_443._tcp.ua-auto-config.example.org. IN TLSA 3 1 1 556f58a52bbe4a20721fb29217488fcbe8121abf7a0eb3154b237755405baf9f
_443._tcp.ua-auto-config.example.org. IN TLSA 2 1 1 d0dd31da41e71428987c5688d6ab5523d0ce28c4f4358f0632d1be8552235a70
_465._tcp.smtp.example.org. IN TLSA 3 1 1 556f58a52bbe4a20721fb29217488fcbe8121abf7a0eb3154b237755405baf9f
_465._tcp.smtp.example.org. IN TLSA 2 1 1 d0dd31da41e71428987c5688d6ab5523d0ce28c4f4358f0632d1be8552235a70
_993._tcp.imap.example.org. IN TLSA 3 1 1 556f58a52bbe4a20721fb29217488fcbe8121abf7a0eb3154b237755405baf9f
_993._tcp.imap.example.org. IN TLSA 2 1 1 d0dd31da41e71428987c5688d6ab5523d0ce28c4f4358f0632d1be8552235a70
_995._tcp.pop3.example.org. IN TLSA 3 1 1 556f58a52bbe4a20721fb29217488fcbe8121abf7a0eb3154b237755405baf9f
_995._tcp.pop3.example.org. IN TLSA 2 1 1 d0dd31da41e71428987c5688d6ab5523d0ce28c4f4358f0632d1be8552235a70
_dmarc.example.org. IN TXT "v=DMARC1; p=reject; rua=mailto:postmaster@example.org"
_mta-sts.example.org. IN TXT "v=STSv1; id=12942536112359691423"
_smtp._tls.example.org. IN TXT "v=TLSRPTv1; rua=mailto:postmaster@example.org"
_ua-auto-config.example.org. IN TXT "v=UAAC1; a=sha256; d=9ZXAG5NGLnhdx4IQKuA2lLGrVXD3N/UKlo059TEi9zY="
_validation-persist.example.org. IN TXT "pebble.letsencrypt.org; accounturi=https://localhost:14000/my-account/23345880fb683843; policy=wildcard"
dummy-v1-ed25519-1775225725._domainkey.example.org. IN TXT "v=DKIM1; k=ed25519; h=sha256; p=qgmCKM1i01iLwa3o4KFoCYBx3cIKW1kvigiYw0WDuD8="
dummy-v1-rsa-1775225725._domainkey.example.org. IN TXT (
    "v=DKIM1; k=rsa; h=sha256; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAv9XYXG3uK95115mB4nJ37nGeNe2CrARm1agrbcnSk5oIaEfMZLUR/X8gPzoiNHZcfMZEVR6bAytxUhc5EvZIZrjSuEEeny+fFd/cTvcm3cOUUbIaUmSACj0dL2/KwW0LyUaza9z9zor7I5XdIl1M53qVd5GI62XBB76FH+Q0bWPZNkT4NclzTLs"
    "pD/MTpNCCPhySM4Kdg5CuDczTH4aNzyS0TqgXdtw6A4Sdsp97VXT9fkPW9rso3lrkpsl/9EQ1mR/DWK6PBmRfIuSFuqnLKY6v/z2hXHxF7IoojfZLa2kZr9Aed4l9WheQOTA19k5r2BmlRw/W9CrgCBo0Sdj+KQIDAQAB"
)
example.org. IN TXT "v=spf1 mx -all"
mx1.example.org. IN TXT "v=spf1 a -all"
mx2.example.org. IN TXT "v=spf1 a -all"
```
